.m~
*.m~
data/mamarama
data/mamaramanoposts
data/mamaramaposts
data/D*/data_*mat
*pyc
processed
sac_sequence_analysis_output
src-python/saccade_analysis.egg-info/
*lyx#
*~
quick_test.html*
src-python/saccade_analysis/density/order_estimation.html
src-python/saccade_analysis/density/order_estimation.html_resources
